* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
}
body {
    background: white;
    width: 100%;
}
#root {
    padding: 10px 20px;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

@media(max-width: 768px) {
    #root {
        width: 100%;
        padding: 10px 8px;
    }
}

